Create a New Itinerary

<%= form_for @itinerary do |f| %>
  <div>
    <%= f.text_field :name, placeholder: "Name" %>
  </div>
  <div>
    <%= f.text_field :desc, placeholder: "Description" %>
  </div>
  <div>
    <%= f.text_field :duration, placeholder: "Duration" %>
  </div>
  <div>
    <select>
    <%= f.collection_select(:city_id, City.all, :id, :name) %>
    <!-- <select name="city_id" id="city_id">
      <option value="1">San Francisco</option>
      <option value=2>Paris</option>
      <option value=3>Miami</option>
      <option value=4>Toronto</option>
    </select> -->
  </select>
  </div>
  <%= f.submit "Submit"%>
<% end %>
