<div id="itinerary_page">
  <div class="container">
    <div class="col-md-12">
      <h1 class="itin-title">
      <%= @itinerary.name.truncate(35) %> <em>(<%= pluralize(@itinerary.duration, "day") %>)</em>
      <% isAuthor = allowed?(@itinerary.user_id) %>
        <% if isAuthor %>
          <%= link_to(edit_itinerary_path) do %>
            <span class="glyphicon glyphicon-edit"></span>
          <% end %>
        <% end %>
      </h1>
        <h2><%= @itinerary.desc %></h2><br>
        <% if isAuthor %>
          <%= link_to "Add Activity", new_itinerary_activity_path(@itinerary), class: "btn btn-primary" %>
        <% end %>
        <h3>Activities:</h3>
          <% @itinerary.activities.all.each do |activity| %>
            <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-2"><%= image_tag activity.img %></div>
              <div class="col-xs-6 col-sm-6 col-md-10">
                <h4><b><%= activity.name %></b> <em>(<%= pluralize(activity.duration, "hour") %>)</em></h4>
                  <%= link_to(edit_itinerary_activity_path({itinerary_id: @itinerary.id, activity_id: activity.id})) do %>
                    <% if isAuthor %>
                      <span class="glyphicon glyphicon-edit"> </span>
                    <% end %>
                  <% end %>
                  <%= link_to destroy_itinerary_activity_path({itinerary_id: @itinerary.id, activity_id: activity.id}), method: :delete do %>
                    <% if isAuthor %>
                      <span class="glyphicon glyphicon-trash"> </span>
                    <% end %>
                  <% end %>
                  <h5><b>Description:</b> <%= activity.desc %><p></h5>
                  <h5><b>Location:</b> <%= activity.location %></h5>
              </div>
            </div>
            <hr>
        <% end %>
    </div>
  </div>
</div>
