<div class="container">
  <div class="col-md-12">
    <h2 class="itin-title"><%= @itinerary.name %> (<%= @itinerary.duration %> days)</h2>
    <p><%= @itinerary.desc %></p>
    <p><% @itinerary.activities.all.each do |activity| %>
      <%= activity.name %><br>
      <% end %>
    <%= link_to "Edit", edit_itinerary_path, class: "btn btn-primary" %>
    <%= link_to "Add Activity", new_itinerary_activity_path(@itinerary), class: "btn btn-primary" %>
  </div>
</div>
