<!-- Login Form

<%= form_for @user,  url: '/sessions', method: 'post' do |f| %>
  <div>
    <%= f.text_field :email, placeholder: "Email" %>
  </div>
  <div>
    <%= f.password_field :password, placeholder: "Password" %>
  </div>
  <%= f.submit "Sign In"%>
<% end %> -->
<div id="forms">
  <div id="session_login">
    <div class="container">
      <h4>User Login Form</h4>
      <div class="row">
        <div class="col-xs-10">
          <%= form_for(@user, url: '/sessions', method: 'post', :html => {class: "form-horizontal", role: "form"}) do |f| %>
            <div class="form-group">
              <div class="control-label col-sm-2">
                <%= f.label :email %>
              </div>
              <div class="col-sm-4">
                <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
              </div>
            </div>
            <div class="form-group">
              <div class="control-label col-sm-2">
                <%= f.label :password %>
              </div>
              <div class="col-sm-4">
                <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
              </div>
            </div>
            <div class="form-group">
              <div class="control-label col-sm-2">
                <%= f.label :submit %>
              </div>
              <div class="col-sm-4">
                <%= f.submit "Submit", class: "btn btn-primary" %>
                <%= link_to "Cancel", index_path, class: "btn btn-default" %>
              </div>
            </div>
          <% end %>
          <p>Don't have an account? Sign up <%= link_to "here", new_user_path %></p>
          <br>
          <br>
          <br>
        </div>
      </div><!--closes row-->
    </div><!--closes container-->
  </div><!--closes session_login-->
</div><!--closes forms-->
