USER EDIT PROFILE form

<%= form_for @user do |f| %>
  <div>
    <%= f.text_field :first_name, placeholder: "First Name" %>
  </div>
  <div>
    <%= f.text_field :last_name, placeholder: "Last Name" %>
  </div>
  <div>
    <%= f.text_field :current_city, placeholder: "Current City" %>
  </div>
  <div>
    <%= f.text_field :img, placeholder: "Profile Picture" %>
  </div>

  <%= f.submit "Update"%>
<% end %>
