<div id="city_show">
  <!--City Header-->
  <div class="jumbotron" style="background-image: url('/cities/<%= @city.file_name %>')">
    <div class="header-content">
      <div class="header-content-inner">
        <h1><%= @city.name %></h1>
      </div>
    </div>
  </div>
  <!--end City Header-->

  <section id="city_itineraries">
    <div class="container">
      <div id="profile" class="row text-center">
        <h1><%= @city.name %> Itineraries</h1>
      </div>
      <%= link_to "Add Itinerary", new_itinerary_path(@itinerary), class: "btn btn-primary" %>
      <!--**********LOOP THROUGH all the itineraries-->
      <% @city.itineraries.all.order("created_at desc").each do |itinerary| %>
      <div class="row itin">
        <div class="col-md-4">
          <h2><%= image_tag "/assets/userprofile.png", class: "userprofile" %></h2>
            <!-- !!__Keep__!! below tag for dynamic profile images from seed -->
            <!-- <%= image_tag User.find_by_id(itinerary.user_id).img %> -->
          <p><%= User.find_by_id(itinerary.user_id).first_name %> <%= User.find_by_id(itinerary.user_id).last_name %></p>
        </div>
        <div class="col-md-8">
          <h4>
            <b><%= link_to itinerary.name, itinerary_path(itinerary.id) %></b>
            <em>(<%= pluralize(itinerary.duration, "day") %>)</em>
            <%= link_to(edit_itinerary_path(itinerary.id)) do %>
              <span class="glyphicon glyphicon-edit"> </span>
            <% end %>
          </h4>
          <h5><b>Description:</b> <%= itinerary.desc %></h5>
          <h5><b>Activities:</b></h5>
          <% itinerary.activities.each do |activities| %>
          <ul>
            <li><%= activities.name %> <em>(<%= pluralize(activities.duration, "hour") %>)</em></li>
          </ul>
          <% end %>
        </div>
      </div>
      <% end %>
      <!--**********LOOP THROUGH all the itineraries-->
    </div> <!--closes container-->
  </section> <!--closes section-->

</div>
