<div id="city_show">
  <!--City Header-->
  <header style="background-image: url('/cities/<%= @city.file_name %>')">
    <!-- <div class="header-content">
      <div class="header-content-inner">
        <h1><%= @city.name %></h1>
      </div>
    </div> -->
  </header>
  <!--end City Header-->

  <section id="city_itineraries">
    <div id="city" class="container">
      <div id="profile" class="col-md-10 col-md-offset-1 container">
        <h3><strong>Check out these <%= @city.name %> itineraries</strong></h3>
        <%= link_to "Add #{@city.name} Itinerary", new_itinerary_path(@itinerary), class: "btn btn-primary btn-sm" %>
      </div>
      <!--**********LOOP THROUGH all the itineraries-->
      <div id="itin" class="col-md-10 col-md-offset-1 container">
        <% @city.itineraries.all.order("created_at desc").each do |itinerary| %>

        <div class="row">
          <div class="col-md-2 col-sm-2 text-center">
            <%= image_tag(itinerary.user.avatar, class: "img-circle userprofile") %>
            <p>
              <%= link_to "#{itinerary.user.first_name} #{itinerary.user.last_name}", user_path(itinerary.user) %>
            </p>
          </div>
          <div class="col-md-10 col-sm-10">
            <h5>
              <strong><%= itinerary.name.truncate(35) %></strong>
              <em>(<%= pluralize(itinerary.duration, "day") %>)</em>
              <p id="pub" class="text-muted">Published: <%= time_ago_in_words(itinerary.created_at).gsub('about', '') %> ago</p>
                <!-- <% if allowed?(itinerary.user_id) %>
                  <span class="glyphicon glyphicon-edit"> </span>
                <% end %> -->

             <%= itinerary.desc %></h5>
            <p><strong><%= link_to "Full Details", itinerary_path(itinerary.id), class: "btn btn-primary btn-xs"  %></strong></p>
          </div>
        </div>
        <hr>
        <% end %>
      </div>
      <!--**********LOOP THROUGH all the itineraries-->
    </div> <!--closes container-->
  </section> <!--closes section-->

</div>
