<!DOCTYPE html>
<html>
<head>
  <title>Vagabond</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
  <!-- BEGIN NAVBAR -->
<div id="mainNav">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
          <%= link_to "Vagabond", index_path, class: "navbar-brand page-scroll" %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
              <% City.all.each do |city| %>
                <li><%= link_to "#{city.name}", city %></li>
              <% end %>
          </li>
          <!-- links before dropdown go here in li tags -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Account
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <%if current_user%>
              <li><%= link_to "Profile", user_path(current_user) %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "Logout", logout_path %></li>
              <%else%>
                <li><%= link_to "Log In", login_path %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to "Create Account", new_user_path %></li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <!-- Error flash notice -->
  <div id="flash_error">
    <% flash.each do |name, msg| %>
      <li>
        <a><%= name.capitalize %>: <%= msg %></a>
      </li>
    <% end %>
  </div>
</div>
  <!-- END NAVBAR -->

  <div id="yield_start">
    <%= yield %>
  </div>

  <!--footer-->
  <div id="index_footer">
    <div class="bottom">
      <ul class="footer">
          <li class="footer_line"><a href="#about">Sign Up</a></li>
          <li class="footer_line"><a href="#photos">Log In</a></li>
          <li class="footer_line"><a href="#contact">Contact Us</a></span></li>
      </ul>
      <p id="footer" class="text-center">VAGABOND | Vagatrav@gmail.com</p>
    </div>
  </div>

</body>
</html>
